* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    color: white;
}

.noticia {
    background-color: rgb(72, 72, 231);
    height: 100%;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 100px;
}

.noticia__header {
    display: flex;
    justify-content: space-around;
}

.noticia__titulo {
    font-size: 3em;
}