* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    background-image: url('../img/fondo-ulagos.png');
}
a {
    text-decoration: none;
    color: black;
}

.header {
    width: 100%;
    background-color: #4f81c7;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header__titulo {
    height: 50px;
    width: 250px;
}

.inicio_sesion {
    background-color: rgba(255, 255, 255, 0.5);
    width: 60%;
    height: 60%;
    margin-top: 70px;
    padding:10px 20px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: column;

}


.usuario,
.correo,
.contrasena {
    font-size: 1em;
    padding: 10px 20px;
}

.inicio,
.registrarse {
    padding: 20px;
    margin: 0 20px;
    font-size: 1em;
}